:root {
  --head-font: montserrat;
  /* font-family: "Dancing Script", cursive; */
}
* {
  scroll-behavior: smooth !important;
}
::selection {
  color: #272e48;
  background: bisque;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  color: #fff;
  background: #000;
}
.h2,
h2 {
  font-weight: bold;
}
.home {
  /* max-height: 90vh; */
  height: 100vh;
  background: url("https://images.pexels.com/photos/4144923/pexels-photo-4144923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    center center/cover no-repeat;
  position: relative;
}
.home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 0;
}
.home > * {
  z-index: 1;
}
/* Navigation  */

.nav-item {
  font-size: 1.2rem;
  transition: 0.6s;
  color: inherit;
  background: transparent;
  margin-left: 1rem;
  color: #fff;
}
.nav-item:hover {
  transform: scale(1.2) translateX(-10px);
  opacity: 0.8;
  color: #3e7c17;
}
.nav-link,
.nav-link:hover {
  color: #fff !important;
}
.navbar-brand {
  transform: scale(1.1);
}
.navbar-toggler {
  background: rgba(255, 255, 255, 0.5);
  border-color: transparent;
}

.titleText {
  margin-right: auto;
}
.titleText,
.fancyText {
  font-size: 7rem;
  color: #3e7c17;
  font-family: "Corinthia", cursive;
  filter: brightness(1000%);
}
.fancyText {
  text-align: center;
}
/* .titleText p {
  text-align: right;
  margin-right: 1rem;
  font-style: italic;
} */

.subtitle {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

/* Button Hover Effect */

.collisionHover {
  position: relative;
  color: #fff;
  z-index: 1;
  transition: all 0.5s !important;
  font-weight: bold;
  display: block !important;
  overflow: hidden;
  margin: 1rem;
  text-transform: uppercase;
  border: 1px solid currentColor;
  width: max-content;
}
.collisionHover:before,
.collisionHover:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
}
.collisionHover:before {
  left: -20px;
  transform: translate(-50%, -50%);
}
.collisionHover:after {
  right: -20px;
  transform: translate(50%, -50%);
}
.collisionHover:hover {
  color: #000;
}
.collisionHover:hover:before {
  -webkit-animation: cross-left 0.8s both;
  animation: cross-left 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.collisionHover:hover:after {
  -webkit-animation: cross-right 0.8s both;
  animation: cross-right 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.learnMoreBtn {
  font-size: 0.7rem;
  border-radius: 20px;
  letter-spacing: 0.2rem;
  padding: 0.5rem 1rem;
  transition: 0.2s;
  /* margin-top: -140px; */
}
.learnMoreBtn:active {
  transform: scale(0.99);
}
@keyframes cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
.quote {
  position: absolute;
  bottom: 2rem;
}
/* Profile Image Section */
.profile {
  width: 100%;
  height: 100vh;
  /* background: url("https://source.unsplash.com/random") center center/cover
    no-repeat; */
  background: url(./Assets/nb01.jpeg) center center/cover no-repeat;
  background-attachment: fixed;
}

/* Philosophy Section */
.philosophy-container {
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) center
      center/cover no-repeat,
    url("https://images.unsplash.com/photo-1620662736427-b8a198f52a4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80")
      center center/cover no-repeat;
  background-attachment: fixed;
}
.philosophy-container blockquote {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.quote-title {
  margin-bottom: 1.5rem;
}

/* Time Line */
.section-title {
  /* width: max-content; */
  width: 98%;
  text-align: center;
  border: 2px dashed #272e48;
  margin: 2.5rem auto;
}
.timeline {
  position: relative;
  /* background: #272e48; */
  background: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5rem;
  margin: 0 auto 1rem auto;
  overflow: hidden;
}
.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  border-right: 2px dashed #bdc3d8;
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
}
.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 15px;
  text-align: right;
  margin-right: 20px;
  color: #bcd0f7;
  font-size: 1.5rem;
}
.timeline-row .timeline-time small {
  display: block;
  font-size: 0.8rem;
}
.timeline-row .timeline-content {
  position: relative;
  padding: 20px 30px;
  background: #1a233a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center !important;
}
.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 16px;
  width: 16px;
  background: #1a233a;
}
.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -49px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 10;
  background: #272e48;
  border: 2px dashed #4b546f;
}
.timeline-row .timeline-content h4 {
  margin: 0 0 20px 0;
  overflow: hidden;
  text-align: center;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  line-height: 150%;
}
.timeline-row .timeline-content p {
  margin-bottom: 30px;
  line-height: 150%;
}
.timeline-row .timeline-content i {
  font-size: 1.2rem;
  line-height: 100%;
  padding: 15px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #272e48;
  margin-bottom: 10px;
  display: inline-block;
}
.timeline-row .timeline-content .thumbs {
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.timeline-row .timeline-content .thumbs img {
  margin: 5px;
  max-width: 60px;
}
.timeline-row .timeline-content .badge {
  color: #ffffff;
  background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
}
.timeline-row:nth-child(even) .timeline-content {
  margin-left: 40px;
  text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
  left: -8px;
  right: initial;
  border-bottom: 0;
  border-left: 0;
  transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
  left: -52px;
  right: initial;
}
.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
  margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
  right: -8px;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}

@media (max-width: 992px) {
  .timeline {
    padding: 15px;
  }
  .timeline:after {
    border: 0;
  }
  .timeline .timeline-row:nth-child(odd) {
    padding: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content {
    margin: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:before {
    display: none;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
    display: none;
  }
  .timeline .timeline-row:nth-child(even) {
    padding: 0;
  }
  .timeline .timeline-row:nth-child(even) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
    text-align: left;
  }
  .timeline .timeline-row:nth-child(even) .timeline-content {
    margin: 0;
  }
  .timeline .timeline-row:nth-child(even) .timeline-content:before {
    display: none;
  }
  .timeline .timeline-row:nth-child(even) .timeline-content:after {
    display: none;
  }
}
/* Progress Bar */
@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 3.8rem;
  --fg: #369;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      closest-side,
      white 80%,
      transparent 0 99.9%,
      white 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}
.separator {
  width: 90%;
  margin-inline: auto;
  border: 2px dashed #272e48;
  margin-block: 3rem;
}
/* Publications Section  */
#publications {
  color: #fff;
}
.card {
  background: #49516d;
  margin: 1rem;
}

/* Home Page responsive Ness Set  */
@media screen and (max-width: 878px) {
  .home > div:first-child {
    width: 100% !important;
  }
  .section-title {
    text-align: left;
  }
  .titleText,
  .fancyText {
    font-size: calc(2.7rem + 1vw);
  }
  .subtitle {
    font-size: 0.9rem;
  }
  .btn-container {
    flex-direction: column;
  }
  .btn-container *:first-child {
    order: 2;
  }
  .collisionHover {
    margin: 0.5rem;
  }
  .fancyText {
    justify-self: flex-end;
    align-self: flex-end;
  }
  .philosophy-container blockquote {
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width: 567px) {
  .navbar {
       background: #272e48;
  }
}

/* Scroll Bar Styles  */
::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border: 1px solid #000;
  border-radius: 10px;
  background: linear-gradient(#96a6bf, #63738c);
  box-shadow: inset 0 0 2px 2px #5c6670;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
  box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(left, #8391a6, #536175);
}

